<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修复翻译</title>
    <link href="../css_js/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="../css_js/script/jquery-3.7.0.min.js"></script>
    <script src="../css_js/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../css_js/script/qs.min.js"></script>
</head>
<body>
<div class="container text-center" id="app">
    <div style="margin-top: 20px" class="row">
        <div class="col-5"><h3>{{message}} <br> <span style="color: red">当前环境：{{env == 'test' ? '测试环境' : '生产环境'}}</span></h3></div>
        <div class="col-7">
            <div class="mb-3">
                <input type="text" v-model="title" class="form-control" placeholder="翻译标题">
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" @click="searchTranslationManagement">查询标题</button>
                </div>
            </div>

        </div>


        <div class="col-12" style="margin-top: 20px">
            <table class="table table-dark table-striped" v-if="list && list.length > 0">
                <thead>
                <tr>
                    <th scope="col">主键</th>
                    <th scope="col">标题</th>
                    <th scope="col">渠道</th>
                    <th scope="col">状态</th>
                    <th scope="col">sku数量</th>
                    <th scope="col">处理进度</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="info in list" :key="info._id">
                    <th scope="row">{{info._id}}</th>
                    <td>{{info.title}}</td>
                    <td>{{info.channel}}</td>
                    <td>{{statusMap[info.status] || info.status}}</td>
                    <td>{{info.skuIdList.length}}</td>
                    <td style="color: red">{{info.isSuccess || ""}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <template v-if="list && list.length > 0">
            <div class="col-4" style="color: deeppink">提示：回滚状态为主表，主表里的skuIdList的sku，以及子表的所有的状态</div>
            <div class="col-8">
                <div class="mb-3">
                    <select class="form-select" aria-label="请选择" v-model="status" @change="changeStatus">
                        <option value="">请选择</option>
                        <option value="0">已选品</option>
<!--                        <option value="1">待翻译</option>-->
<!--                        <option value="2">翻译中</option>-->
<!--                        <option value="3">审核中</option>-->
                        <option value="4">翻译完成</option>
                        <option value="5">已作废</option>
                    </select>
                </div>

                <template v-if="status == '4'">
                    <div class="mb-3">
                        <div class="col-4" style="color: deeppink">提示：审核人请填写英文，日期示例如：2024-07-04 12:35:00Z</div>
                    </div>
                    <div class="mb-3">
                        <input type="text" v-model="applyName" class="form-control" placeholder="审核人(英文)">
                    </div>
                    <div class="mb-3">
                        <input type="text" v-model="applyTime" class="form-control" placeholder="审核日期">
                    </div>
                </template>

                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-primary" @click="fixTranslationManagement">回滚状态</button>
                    </div>
                </div>

            </div>

        </template>

        <div class="col-12">
            <h5 style="color: red">{{loading}}</h5>
        </div>
        <div class="col-12">
            <h4 style="color: red">{{errorMsg}}</h4>
        </div>

    </div>

</div>

</body>
</html>


<script>

    const {createApp, ref} = Vue


    createApp({

        data() {
            this.url = "http://www.pa-temp-fix-system.com:89/php/controller";
            this.initPage();
            return {
                message: '修改翻译状态',
                title: '',
                status: '',
                errorMsg: '',
                successMsg: '',
                list: [],
                loading: '',
                statusMap: {
                    "0": "已选品",
                    "1": "待翻译",
                    "2": "翻译中",
                    "3": "审核中",
                    "4": "翻译完成",
                    "5": "已作废"
                },
                applyName:'',
                applyTime:'',
                env:"",
                url:"http://www.pa-temp-fix-system.com:89/php/controller",
                header: {
                    headers: {
                        'Content-Type': 'application/json',
                        // 其他自定义头
                    }
                }
            }
        },

        methods: {
            async initPage(){
                const data = {
                    action: "fixTranslationManagements",
                    params: {},
                };
                this.header = {
                    headers: {
                        'Content-Type': 'application/json',
                        // 其他自定义头
                    }
                };
                let res = await axios.post(`${this.url}/search.php`, data,this.header).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                this.loading = "";
                if (res.status === 200) {
                    this.env = res.data.env;
                }
            },
            async fixTranslationManagement() {
                console.log(this.title, this.status)
                this.loading = "............请等待，正在处理数据中..........";
                this.errorMsg = "";
                if (this.status == '') {
                    this.errorMsg = "请选择状态啦!!!!!!";
                    return;
                }
                if (this.list && this.list.length == 0) {
                    this.errorMsg = "都没有数据怎么回滚!!!!!!";
                    return;
                }
                if (this.status != '4'){
                    this.applyName = "";
                    this.applyTime = "";
                }
                for (let item of this.list) {
                    item.isSuccess = "正在执行中.";
                    if(item.status == '5'){
                        item.isSuccess = "已作废的无需处理";
                        continue;
                    }

                    const data = {
                        action: "fixTranslationManagements",
                        params: {
                            title: item.title,
                            status: this.status,
                            applyName:this.applyName,
                            applyTime:this.applyTime,
                        },
                    };

                    let res = await axios.post(`${this.url}/update.php`, data,this.header).catch(function (error) {
                        this.errorMsg = "网络错误";
                    });
                    console.log(res)
                    if (res.status === 200 && res.data === true) {
                        item.status = status;
                        item.isSuccess = "完成回滚";
                    } else {
                        item.isSuccess = "回滚失败";
                    }

                }
                this.loading = "";
            },

            async searchTranslationManagement() {
                this.loading = "............请等待，正在处理数据中..........";
                this.errorMsg = "";

                const data = {
                    action: "fixTranslationManagements",
                    params: {
                        title: this.title,
                        status: this.status
                    },
                };
                let res = await axios.post(`${this.url}/search.php`, data,this.header).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                this.loading = "";
                if (res.status === 200) {
                    if (res.data.data.length === 0) {
                        this.errorMsg = "没有数据";
                    } else {
                        this.list = res.data.data;
                        this.env = res.data.env;
                    }
                }

            },
            changeStatus(){
                if (this.status != '4'){
                    this.applyName = "";
                    this.applyTime = "";
                }
            }
        }

    }).mount('#app')


</script>