<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PA sku预计留样标识查询或新增</title>
    <link href="../css_js/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="../css_js/script/jquery-3.7.0.min.js"></script>
    <script src="../css_js/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../css_js/script/qs.min.js"></script>
    <!--粒子特效-->
    <link rel="stylesheet" href="../css_js/own/lizi.css">
</head>
<body>
<div class="container text-center" id="app">
    <div style="margin-top: 20px" class="row">
        <div class="col-5"><h3 style="color: yellow">{{message}} <br>查询或新增<br> <span style="color: red">当前环境：{{env == 'test' ? '测试环境' : '生产环境'}}</span></h3></div>
        <div class="col-7">
            <div class="mb-3">
                <textarea v-model="skuIdString" class="form-control" placeholder="skuId,多个请换行" rows="5"/></textarea>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" @click="search">查询预计留样</button>
                </div>
            </div>
        </div>

        <div class="col-8" style="margin-top: 20px">
            <table class="table table-dark table-striped align-middle" v-if="list && list.length > 0">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">sku</th>
                    <th scope="col">是否预计留样</th>
                    <th scope="col">状态</th>
                    <th scope="col">创建人<br>创建日期</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="info in list" :key="info.id">
                    <td>{{info.id}}</td>
                    <td>
                        <template v-if="info.isSample == '未留样'">
                            <b style="color: red">{{info.skuId}}</b>
                        </template>
                        <template v-if="info.isSample == '有留样'">
                            {{info.skuId}}
                        </template>
                    </td>
                    <td>
                        <template v-if="info.isSample == '未留样'">
                            <b style="color: red">{{info.isSample}}</b>
                        </template>
                        <template v-if="info.isSample == '有留样'">
                            {{info.isSample}}
                        </template>
                    </td>
                    <td>
                        {{info.status}}
                    </td>
                    <td>{{info.createBy}}<br>{{info.createTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <div class="mb-3">
                <h5 style="color:white;">新增打留样标识的sku</h5>
            </div>
            <div class="mb-3">
                <textarea v-model="addSkuIdString" class="form-control" placeholder="skuId,多个请换行" rows="5"/></textarea>
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" @click="update">添加</button>
                </div>
            </div>

            <div class="row">
                <h5 style="color: red">{{loading}}</h5>
                <h4 style="color: red">{{errorMsg}}</h4>
            </div>

        </div>

    </div>

</div>

</body>
</html>
<script src="../css_js/own/lizi.js"></script>


<script>

    const {createApp, ref,onMounted} = Vue


    createApp({

        data() {
            this.initPage();
            return {
                message: 'PA sku预计留样标识',
                skuIdString: '',
                addSkuIdString: '',
                errorMsg: '',
                successMsg: '',
                list: [],
                loading: '',
                env:"",
                url:"http://172.16.29.23:90/php/controller",
                header: {
                    headers: {
                        'Content-Type': 'application/json',
                        // 其他自定义头
                    }
                }
            }
        },

        methods: {
            async initPage(){
                const data = {
                    action: "paSampleSku",
                    params: {},
                };
                this.header = {
                    headers: {
                        'Content-Type': 'application/json',
                        // 其他自定义头
                    }
                };
                this.url = "http://172.16.29.23:90/php/controller";
                let res = await axios.post(`${this.url}/search.php`, data,this.header).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                this.loading = "";
                if (res.status === 200) {
                    this.env = res.data.env;
                }

            },
            async update() {
                this.loading = "............请等待，正在处理数据中..........";
                this.errorMsg = "";

                if (!this.addSkuIdString) {
                    this.errorMsg = "请输入sku!!!!!!";
                    this.loading = "............报错..........";
                    return;
                }
                //做转义
                let addskuIdList = this.addSkuIdString.split("\n");
                addskuIdList =  [...new Set(addskuIdList.filter(item => item))];
                if (addskuIdList.length > 500){
                    this.errorMsg = "sku添加过多，请不要超过500个";
                    this.loading = "............报错..........";
                    return;
                }
                const data = {
                    action: "paSampleSku",
                    params: {
                        addskuIdList: addskuIdList,
                    },
                };
                let res = await axios.post(`${this.url}/update.php`, data,this.header).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                console.log(res)
                if (res.status === 200 && res.data === true) {
                    this.loading = "............可以刷新查看了..........";
                } else {
                    this.loading = "............报错..........";
                }

                this.loading = "";
            },

            async search() {
                this.loading = "............请等待，正在处理数据中..........";
                this.errorMsg = "";
                this.list = [];
                if (!this.skuIdString){
                    this.errorMsg = "请输入sku";
                    this.loading = "............报错..........";
                    return;
                }
                //做转义
                let skuIdList = this.skuIdString.split("\n");
                skuIdList =  [...new Set(skuIdList.filter(item => item))];
                if (skuIdList.length > 500){
                    this.errorMsg = "sku查询过多，请不要超过500个";
                    this.loading = "............报错..........";
                    return;
                }

                const data = {
                    action: "paSampleSku",
                    params: {
                        skuIdList: skuIdList,
                    },
                };
                let res = await axios.post(`${this.url}/search.php`, data,this.header).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                console.log(res)
                this.loading = "";
                if (res.status === 200) {
                    let returnlist = res.data.data;
                    let skuMap = {};
                    for (let item of returnlist){
                        if (!skuMap.hasOwnProperty(item.skuId)){
                            skuMap[item.skuId] = item;
                        }
                    }
                    for (let sku of skuIdList){
                        if (skuMap.hasOwnProperty(sku)){
                            skuMap[sku]['isSample'] = "有留样";
                            this.list.push(skuMap[sku]);
                        }else {
                            this.list.push({
                                id:null,
                                skuId:sku,
                                category:"",
                                status:"",
                                isSample:"未留样",
                                createBy:"",
                                createTime:"",
                            });
                        }

                    }

                }

            }
        },


    }).mount('#app')


</script>