<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FBA海外仓上架前移库申请渠道仓库配置</title>
    <link href="../bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../jquery-3.7.0.min.js"></script>
    <script src="../bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="../script/qs.min.js"></script>
</head>
<body>
<div class="container text-center" id="app">
    <div style="margin-top: 20px" class="row">
        <div class="col-4"><h3>{{message}}</h3></div>
        <div class="col-8">
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" @click="search">查看配置</button>
                </div>
            </div>
        </div>

        <div class="col-12" style="margin-top: 20px">
            <table class="table table-striped table-striped" v-if="list && list.length > 0">
                <thead>
                <tr>
                    <th scope="col">渠道</th>
                    <th scope="col">支持的仓库</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="info in list" :key="info.channel">
                    <td>{{info.channel}}</td>
                    <td>
                        <template v-for="detail in info.nowStocks">
                            {{detail}}<br>
                        </template>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4"><h5>需要新增的渠道和仓库</h5></div>
        <div class="col-8">
            <div class="mb-3">
                <input type="text" v-model="channel" class="form-control" placeholder="渠道">
            </div>
            <div class="mb-3">
                <input type="text" v-model="stocks" class="form-control" placeholder="仓库">
            </div>
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-primary" @click="update">确认</button>
                </div>
            </div>
        </div>

        <div class="col-12">
            <h5 style="color: red">{{loading}}</h5>
        </div>
        <div class="col-12">
            <h4 style="color: red">{{errorMsg}}</h4>
        </div>

    </div>

</div>

</body>
</html>


<script>

    const {createApp, ref,onMounted} = Vue


    createApp({

        data() {
            return {
                message: 'FBA海外仓上架前移库申请渠道仓库配置',
                channel: '',
                stocks: '',
                errorMsg: '',
                successMsg: '',
                list: [],
                loading: '',
            }
        },

        methods: {
            async update() {
                console.log(this.channel, this.stocks)
                this.loading = "............请等待，正在处理数据中..........";
                this.errorMsg = "";

                if (!this.channel && !this.stocks) {
                    this.errorMsg = "请填写渠道以及对应的仓库!!!!!!";
                    this.loading = "............报错..........";
                    return;
                }

                const data = window.Qs.stringify({
                    channel: this.channel,
                    stocks: this.stocks,
                });
                let res = await axios.post("http://172.16.29.2/testProject/php/optionVal/update.php", data).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                console.log(res)
                if (res.status === 200 && res.data === true) {
                    this.loading = "............可以刷新配置查看了..........";
                } else {
                    this.loading = "............报错..........";
                }

                this.loading = "";
            },

            async search() {
                this.loading = "............请等待，正在处理数据中..........";
                this.errorMsg = "";
                const data = window.Qs.stringify({
                });
                // {
                //     headers: {
                //         "Content-Type": "application/json",
                //         // 'Authorization': 'Bearer your-token'
                //     }
                // }
                let res = await axios.post("http://172.16.29.2/testProject/php/optionVal/search.php", data).catch(function (error) {
                    this.errorMsg = "网络错误";
                });
                console.log(res)
                this.loading = "";
                if (res.status === 200) {
                    if (res.data.length === 0) {
                        this.errorMsg = "没有数据";
                    } else {
                        this.list = res.data;
                    }
                }

            }
        },


    }).mount('#app')


</script>